* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color:white;
}
body {
    background-color: #222;
}

p {
    font-size: 1.3em;
    align-self: center;
}
button {
    outline: none;
    background-color: black;
    font-size: 1.3em;
}
.outer-container {
    padding: 10px;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.inner-container {
    height: 100vh;
    background: rgba(0,0,0,0.3);
    width: 50%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#counter {
    float:right;
    margin-right: 10%;
}

#viewScores {
    float:left;
    margin-left:10%;
}
h1, h2 {
    color:yellow;
    text-align: center;
}
.quizIntro, main {
    /* display: none; */
    margin-top: 20vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #3b3b3b;
}
.quizIntro button {
    display:block;
    width: 50%;
    margin: 0 auto;
}
.quizIntro p{
    text-align:center;
}

main {
    display:block;
}
.question-screen {
    /* display: none; */
}
.quiz-finish-screen {
    /* display:none; */
}
.highscores-screen {
    display:block;
}